---
title: "ZA's Repeater Network"
layout: splash
permalink: /
classes:
  - search
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#f9b248"
  overlay_filter: "0.2"
  overlay_image: /assets/images/
  actions:
    - label: "Learn More"
      url: "/about/zanet/"
#  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "ZA Net is a South African Repeater Network for Amateur Radio Operators."
intro: 
  - excerpt: "ZA Net is a South African Repeater Network for Amateur Radio Operators. 
  <br/><br/>
  We are linking via AllStarLink and RF."
feature_row:
  - image_path: assets/images/RAE_600x400.png
    #image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "Get your HAM Licence!"
    title: "Get your HAM Licence!"
    excerpt: "Want to get your licence and start your HAM journey?"
    url: "/about/rae/"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - image_path: /assets/images/bulletin_readers.jpg
    alt: "Weekly Bulletins"
    title: "Weekly Bulletins"
    excerpt: "We have weekly bulletins on the air."
    url: "/about/bulletins/"
    btn_label: "Read More"
    btn_class: "btn--primary"
    
  - image_path: /assets/images/repeaters/repeaters.jpg
    title: "ZA-Net Repeaters"
    excerpt: "ZA-Net Hosts and Manages several Repeaters."
    url: "/repeaters/"
    btn_label: "Read More"
    btn_class: "btn--primary"

feature_row2:
  - image_path: /assets/images/keep-calm-and-join-our-club-3.png
    alt: "Join our club"
    title: "Join our Club Today"
    excerpt: 'Join our Club Today'
    url: "/about/join/"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="justify" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

